/* Help Center Style Overrides */

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6{
    margin-bottom: 15px;
    margin-top: 40px;
    color: #355852;
}

.markdown h1{
    font-size:36px;
}

.markdown h2{
    font-size:28px;
}

.markdown h3{
    font-size:24px;
}

.markdown h4{
    font-size:20px;
}

.markdown h5{
    font-size:18px;
}

.markdown h6{
    font-size:16px;
}

.markdown p{
    font-weight: 100;
}

.markdown ul{
    line-height: 1.75;
    margin-bottom: 25px;
}

/* Custom lists */
.custom-list{
  list-style: outside none;
  margin-left: 0;
  padding-left: 0;
}
.custom-list li{
  padding-left: 20px;
}
.custom-list li:before{
  font-family: arial, helvetica, sans-serif;
  content: '';
  position: relative;
  float: left;
  color: #355852;
  text-indent: -20px;
  speak: none;
}

.checkmark-heavy li:before {
  content: '\2714';
}

